/* Distribución del home inicial */

.general {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "header header"
    	"imagen loginUsuario"
    	"imagen loginUsuario"
    	"footer footer";
}
.general .imagen {
    grid-area: imagen;
    padding: 10px;
}
.general .loginCliente {
    grid-area: loginCliente;
    padding: 15px;
}
.general .loginUsuario {
    grid-area: loginUsuario;
    padding: 10px;
}
.redes {
    padding: 10px;
    margin-bottom: 15px;
}
.general .header {
    grid-area: header;
    background: #40698c;  
}
.general .footer {
    padding: 15px;
    grid-area: footer;
    background: #222222;  
}

/* Distribución del home colaborador */

.generalC {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "perfil pedido misPedidos"
        "footer footer footer";
}
.generalC .perfil {
    grid-area: perfil;
    padding: 15px;
}
.generalC .pedido {
    grid-area: pedido;
    padding: 15px;
}
.generalC .misPedidos {
    grid-area: misPedidos;
    padding: 15px;
}
.generalC .header {
    grid-area: header;
    background: #40698c; 
}
.generalC .footer {
    padding: 15px;
    grid-area: footer;
    background: #222222;  
}

@import url('https://fonts.googleapis.com/css?family=Raleway:600&display=swap');

.titulo {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.loginModal {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}

.antiSaltoDeLinea {
    white-space:nowrap;
}

.separadoIzquierda {
    margin-left: 15px;
}

.gradienteGrisClaro {
    background: linear-gradient(to bottom, #404040 12%, #b7b7b7 100%);
}

.gradienteAzulOscuro {
    background: linear-gradient(to bottom, #343572 8%, #769df2 100%);
}

.modalGris {
    background: #40698c;
}

.fuenteHeader {
    font-family: 'Raleway', sans-serif;
}

.fondoGris {
    background: #404040;
}

.centrado {
    text-align: center;
    margin-bottom: 10px;  
}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}