.general {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "header header"
    	"imagen loginCliente"
    	"imagen loginCliente"
    	"imagen loginUsuario"
    	"redes  loginUsuario";
}
.general .imagen {
    grid-area: imagen;
    padding: 10px;
}
.general .loginCliente {
    grid-area: loginCliente;
    padding: 15px;
}
.general .loginUsuario {
    grid-area: loginUsuario;
    padding: 10px;
}
.general .redes {
    grid-area: redes;
    padding: 10px;
}
.general .header {
    grid-area: header;
    background: #40698c;
    
}

@import url('https://fonts.googleapis.com/css?family=Raleway:600&display=swap');

.titulo {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.antiSaltoDeLinea {
    white-space:nowrap;
}

.separadoIzquierda {
    margin-left: 15px;
}

.gradienteGrisClaro {
    background: linear-gradient(to bottom, #404040 12%, #b7b7b7 100%);
}

.gradienteAzulOscuro {
    background: linear-gradient(to bottom, #343572 8%, #769df2 100%);
}
